body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center-horizontal{
  display: flex;
  justify-content: center;
}

.center-vertical{
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.Editor{
  margin-left: 2%;
  margin-right: 2%;
}

.header{
  margin-bottom: 1%;
  padding-bottom: 0.5%;
}
